* {
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1;
}

header {
    position: relative;
    box-sizing: border-box;
    background-image: url("header2.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    border-bottom: 4px solid transparent;
    -webkit-border-image: -webkit-linear-gradient(top, hsl(0, 80%, 70%), #bada55); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    border-image: linear-gradient(to bottom right, #6f3824, transparent);
    border-image-slice: 1;
    text-align: center;
    margin-bottom: 50px;
    /*transform: translate(200px, 200px)*/
    overflow: hidden;
}

#name {
    position: absolute;
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #6f3824;
    font-size: 3.5em;
    letter-spacing: 0.08em;
    padding: 0.5em;
    border: 6px solid #6f3824;
    -webkit-border-image: -webkit-linear-gradient(top, hsl(0, 80%, 70%), #bada55); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    border-image: linear-gradient(to bottom right, #6f3824, transparent);
    border-image-slice: 1;
}

#summary {
    text-align: center;
}

.about-me {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2em;
}
